@import '../../App/vars.scss';

.loader__wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin-loader {
    border: 4px solid $white;
    border-radius: 50%;
    border-top: 4px solid $black;
    width: 2.2em;
    height: 2.2em;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }